JSON output contain legacy (non-Unicode) character code, confirmed on lambda list-functions and get-function, violates RFC 8259

- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**

[RFC 8259](https://tools.ietf.org/html/rfc8259) says [JSON text exchanged between systems that are not part of a closed ecosystem MUST be encoded using UTF-8](https://tools.ietf.org/html/rfc8259#section-8.1). However, `aws-cli/2.1.29` outputs JSON which seems to contain legacy (non UTF-8) character code.

**SDK version number**

```bash
$ aws --version
aws-cli/2.1.29 Python/3.8.8 Windows/10 exe/AMD64 prompt/off
```

Downloaded from [this URL](https://awscli.amazonaws.com/AWSCLIV2.msi), SHA1: `8e0acecefb4d35bc462c1c6f475399568c53fa01`

**Platform/OS/Hardware/Device**

Windows 10 [20H2], Japanese edition, with cygwin bash

**To Reproduce (observed behavior)**

On web console, I have created a lambda function named `my-test-function` and set its description to "これはテスト用のlambda関数です" (Japanese text, means that this is a testing lambda function) in advance. The red frame in the figure below shows the description text in Japanese.

![clip_20210307_103822](https://user-images.githubusercontent.com/5938690/110227732-ced99d00-7f3e-11eb-9245-bdf10cbe6579.png)

Under this state, I executed the following `aws` command and saved the information of the lambda function to JSON files.

```bash
$ aws --version
aws-cli/2.1.29 Python/3.8.8 Windows/10 exe/AMD64 prompt/off
$ export AWS_DEFAULT_OUTPUT=json
$ aws lambda list-functions > list-functions-out-as_is.json
$ aws lambda get-function --function-name my-test-function > get-function-out-as_is.json
$ uchardet *-as_is.json
get-function-out-as_is.json: SHIFT_JIS
list-functions-out-as_is.json: SHIFT_JIS
```

I attached the JSON data output by the above command.

* [lambda-out-as_is.zip](https://github.com/aws/aws-cli/files/6096483/lambda-out-as_is.zip)

As you can see from the result of the `uchardet` command, each JSON file is encoded in [Shift JIS](https://en.wikipedia.org/wiki/Shift_JIS), a Japanese legacy character code. It's not UTF-8, so it seems to violate [section 8.1 of RFC 8259](https://tools.ietf.org/html/rfc8259#section-8.1). 

**Expected behavior**

All JSON output by `aws` command must be UTF-8 encoded according to RFC 8259.

**Workaround**

Users can get UTF-8 encoded JSON by using a character code conversion command, such as iconv, like the following.

```bash
$ aws lambda list-functions | iconv -f SHIFT-JIS -t UTF-8 > list-functions-out-should_be.json
$ aws lambda get-function --function-name my-test-function | iconv -f SHIFT-JIS -t UTF-8 > get-function-out-should_be.json
$ uchardet *-should_be.json
get-function-out-should_be.json: UTF-8
list-functions-out-should_be.json: UTF-8
```

I attached the JSON data output by the above command.

* [lambda-out-should_be.zip](https://github.com/aws/aws-cli/files/6096482/lambda-out-should_be.zip)

**Logs/output**

* [debug-log.zip](https://github.com/aws/aws-cli/files/6096481/debug-log.zip)

These debug logs were outputted by the following command. 

```bash
$ aws --debug lambda list-functions 2>> list-functions-log
$ aws --debug lambda get-function --function-name my-test-function 2>> get-function-log
```


Hi @yukinobu, 

Thanks for the report!  Looking into this a bit further— I'll update you as soon as I have more information. 

Hi again @yukinobu,

Most of the issues we've seen related to encoding concern the system locale settings— The CLI will use what the system encoding is set to.  Does the issue still occur if you enable UTF-8 in the system locale? See this [Stack Overflow answer](https://stackoverflow.com/questions/57131654/using-utf-8-encoding-chcp-65001-in-command-prompt-windows-powershell-window/57134096#57134096)

Thank you for your investigation @stobrien89, and I saw the Stack Overflow answer you suggested.

My current system locale setting is "日本語 (日本)" [means: Japanese (Japan)] as shown in the figure below. This means that the character code for non-Unicode programs to be Shift JIS. It matches the character code of JSON output by the `aws` command in my environment.

![clip_20210309_123754](https://user-images.githubusercontent.com/5938690/110415783-dda68800-80d5-11eb-9c48-99ef6be29263.png)

> Does the issue still occur if you enable UTF-8 in the system locale?

Sorry, I haven't tested it yet. Please give me some time. I'm guessing... it won't occur when I enable UTF-8.

Enabling UTF-8 on Windows system locale setting is in the beta stage, and it is known that various troubles will occur in Japanese environment. Therefore, I need to create a destroyable testing environment. 

---

However my point of this issue is not necessarily related to running environment. Even if the character code of `aws` command output is based on the system locale setting, but it should always be UTF-8 when output format is set to JSON because it is defined by RFC 8259.

The AWS document is [describing the JSON output format](https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-output-format.html#json-output) with [hyperlink to json.org](https://www.json.org/). The json.org shows ECMA-404 as a specification. ECMA-404 claims its sameness with RFC 8259 as follows:

> The JSON syntax specified by this specification and by RFC 8259 are intended to be identical.

By contrast, in case of output format setting to other than JSON, to decide the output character code based on the system locale is reasonable behavior because it is not restricted by the JSON specification.

Hi @yukinobu, 

Thank you for your response!  I definitely see your point— I'll review this with the development team tomorrow and try to get more information about the rationale (if intentional) behind using system locale instead of defaulting to UTF-8 encoding for JSON output files.  I'll let you know as soon as I have more information!

Thank you for your consideration, @stobrien89.

I also think we need some judgment of development team to treat whether this issue as a bug or not. It affects backward compatibility, so it may not be easy to change.

My opinion is to comply with the RFC, but I will respect the decisions of the development team in the end.

Hi @yukinobu, 

Thank you for your patience while I reviewed this with the team.  First, although I realize this is beside your point, we have an [environment variable](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html), `AWS_CLI_FILE_ENCODING` which can specify the encoding for text files.  This would be a better alternative to using the Windows beta feature that I mentioned to you earlier.

In short, we're hesitant to enforce UTF-8 encoding for text files, as this could potentially cause issues (corrupted data) when round-tripping files when the locale is set to a different encoding type, although some testing will need to be done on our end in order to verify this. We're certainly open to the possibility of implementing this as a feature, so I'm going to mark this as a feature request for now.  Really appreciate you pointing this out!

Thank you for clear decision and deep consideration. I understood that treating this issue as a feature request is an appropriate plan. I agree that it is difficult to change quickly.


And thank you for suggesting AWS_CLI_FILE_ENCODING. This is a practical solution, and I think it's excellent to describe the default encoding in the documentation below:

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html

> By default encoding matches your locale.

I'm ashamed I had overlooked the above description. 

---

Last but not least, I also appreciate your kind coordination!



Hi @yukinobu, 

My apologies for the delayed response!  

I can definitely relate— I had initially overlooked the environment variable and instead suggested you change your default locale, which is far from an ideal workaround, so I apologize for any confusion on that part.